# SMPP SERVER
SMPP_SERVER_ID=JASMIN
SMPP_SERVER_BIND=0.0.0.0
SMPP_SERVER_PORT=2775

# HTTP API
HTTP_API_BIND=0.0.0.0
HTTP_API_PORT=1401

# JCLI
JCLI_BIND=0.0.0.0
JCLI_PORT=8990

# SUPERVISOR
SUPERVISOR_HOST=*
SUPERVISOR_PORT=9001
SUPERVISOR_USERNAME=admin
SUPERVISOR_PASSWORD=admin
SUPERVISOR_SERVER_URL=http://127.0.0.1:9001

# SMPP SERVER PB
SMPP_SERVER_PB_BIND=0.0.0.0
SMPP_SERVER_PB_PORT=14000

# CLIENT MANAGEMENT
CLIENT_MANAGEMENT_BIND=127.0.0.1
CLIENT_MANAGEMENT_PORT=8989

# ROUTER
ROUTER_BIND=127.0.0.1
ROUTER_PORT=8988

# INTERCEPTOR
INTERCEPTOR_BIND=127.0.0.1
INTERCEPTOR_PORT=8987

# REDIS
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=None

REDIS_DBID=0
REDIS_RESTAPI_DBID=1
REDIS_INTERCEPTOR_DBID=2

# AMQP BROKER
AMQP_BROKER_HOST=rabbitmq
AMQP_BROKER_PORT=5672
AMQP_BROKER_MANAGEMENT_PORT=15672
AMQP_BROKER_VHOST=/
AMQP_BROKER_USERNAME=guest
AMQP_BROKER_PASSWORD=guest

# Rest API
RESTAPI_HTTP_MODE=
RESTAPI_WORKER_MODE=
